body{font-family: Verdana, Arial, Helvetica, sans-serif;background-color:#FFF3BA;margin:0;padding:0;color:#000;}
.table_header{font-size:48px}
.main_table{height:100%;background-color:white}
.month_table{background-color:#9FB9F6}
.month_table_header{text-decoration:bold;border-top-style:double}
.dinner{border-style:double}
.event{background-color:#FFF3BA}
.menu1{background-color:#9FB9F6}


html,body{margin:0;padding:0;height:100%;border:none;}
.input{color:#5f91c4;height:12px;width:80px;font-size:11px;}
.input2{color:#5f91c4;width:80px;font-size:13px;}
.input2:focus { outline: none;box-shadow: 0 0 3px #fff;}
.input3{color:#5f91c4;font-size:13px;}
.adds{width:115px;border:1px solid #5f91c4;padding:2px;background-color:#f2fcff;}
.menulinks,.menulinks a{font-size:12px;color:#fff;text-decoration:none;}
.menulinks input {padding:3px;font-family:Verdana; font-size:12px;border:0;}
.menu{font-size:10px;text-transform:capitalize;color:gray}
.menu a{font-size:12px; font-weight:bold;color:#ff8335;text-decoration:none; margin-right:5px;margin-left:5px;}
.menu a:hover{text-decoration:underline;}
.menulinks a:hover{text-decoration:underline;}
form{margin:0;}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=13L0u0kllllaFw0g0qFqFg0w0aF */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #2E4272 }	/* Main Primary color */
.color-primary-1 { color: #7887AB }
.color-primary-2 { color: #4F628E }
.color-primary-3 { color: #162955 }
.color-primary-4 { color: #061539 }

/* bright pastel */
.color-primary-0 { color: #6490F3 }	/* Main Primary color */
.color-primary-1 { color: #F3F7FE }
.color-primary-2 { color: #9FB9F6 }
.color-primary-3 { color: #2E6AF3 }
.color-primary-4 { color: #034BF1 }

/* As RGBa codes */

.rgba-primary-0 { color: rgba( 46, 66,114,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(120,135,171,1) }
.rgba-primary-2 { color: rgba( 79, 98,142,1) }
.rgba-primary-3 { color: rgba( 22, 41, 85,1) }
.rgba-primary-4 { color: rgba(  6, 21, 57,1) }

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33L0u0kiCFn8GVde7NVmtwSqXtg */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #5F7EC6 }	/* Main Primary color */
.color-primary-1 { color: #B6C7F0 }
.color-primary-2 { color: #85A0DD }
.color-primary-3 { color: #4061AD }
.color-primary-4 { color: #264A9C }

.color-secondary-1-0 { color: #FFE66B }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFF3BA }
.color-secondary-1-2 { color: #FFEC8F }
.color-secondary-1-3 { color: #FFE04C }
.color-secondary-1-4 { color: #E9C725 }

.color-secondary-2-0 { color: #FFAE6B }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFD9BA }
.color-secondary-2-2 { color: #FFC18F }
.color-secondary-2-3 { color: #FF9D4C }
.color-secondary-2-4 { color: #E97E25 }


.footer{color:#123456;font-size:12px;}
.footer a{text-decoration:none;color:#5f91c4;}
.footer a:hover{text-decoration:underline;}
.footer3{color:#123456;font-size:12px;}
.footer3 a{text-decoration:none;color:#5f91c4;}
.footer3 a:hover{text-decoration:underline;color:#5f91c4;}
.footer3 th a:hover{text-decoration:underline;color:#fff;}
.footer3 th a{text-decoration:underline;color:#fff;}
h4{font-size:16px;font-weight:bold;}
h5{font-size:13px;font-weight:normal;}
h5 a{color:#123456;font-size:12px;font-weight:normal;}
.h5{font-size:13px;font-weight:normal;}
.h5 a{color:#123456;font-size:12px;font-weight:normal;}
.ep_name{background-image:url("img/h_g.gif");font-size:15px;color:#fff;padding:10px;}
.arrow_gif{background-image:url("img/rec_corner.gif");width:9px;height:9px;}
.a2 a{color:#fff;}
.ep_name2{background-image:url("img/h_g2.gif");font-size:15px;color:#fff;}
.header{padding-right:20px;font-weight:bold;background-color:#5f91c4;color:#fff;padding-left:20px;}
.header1{padding-right:10px;font-weight:bold;font-size:14px;color:#fff;padding-left:20px;}
.nextEpInfo{padding:10px;font-size:14px;color:#123456;}
.faq{font-size:14px;padding-left:50px;padding-right:50px;padding-top:30px;padding-bottom:30px;color:#5f91c4;line-height:18px;}
.faqTitle{font-size:20px;}
.faqQ{color:#333;}
.faqA{color:#123456;}
.feedback{background-color:#5f91c4;color:#fff;padding-right:10px;}
.feedback a{color:#fff;}
.button{background-color:#527bb2;color:#fff;border:1px solid #eee;}
.button:hover{background-color:#f60;}
.button:active{color:#000;}
.tdc1{color:#123456;font-size:12px;padding-top:10px;padding-left:10px;}
.tdc1 a{text-decoration:none;color:#5f91c4;}
.tdc1 a:hover{text-decoration:underline;}
#c1{color:#5f91c4;width:245px;}
.tdc2{padding-bottom:20px;padding-top:7px;padding-right:7px;}
.tdc3{border-top:1px solid #123456;}
.td4{background-image:url("img/header/head_bgr_new.gif");height:73px;}
.f1{padding-left:10px;padding-bottom:3px;}
.f2{color:#fff;font-size:12px;}
.shoutBox{font-size:12px;}
.shoutBox th{background-color:#aacbed;color:#fff;}
.shoutBox a{font-size:11px;color:#5f91c4;}
.leftblock{float:left;display:block;padding-left:20px;}
.amazonStuff{background-color:#f5f5f5;border:1px solid #ccc;padding:3px;font-size:12px;text-align:left;}
.amazonStuff th{font-size:14px;}
.price{font-size:16px;}
.what{color:red;font-size:13px;}
.searchResult{padding:5px;padding-top:0;}
.searchResult img{margin-right:10px;}
.srch a{font-size:16px;font-weight:bold;color:#123456;text-decoration:none;}
.srch a:hover{text-decoration:underline;}
.browseCol2{font-weight:bold;color:#fff;background-color:#5f91c4;}
.nobrr{white-space:nowrap;}
.searchIcon{padding-left:2px;border:0;vertical-align:middle;}
.searchIcon2{padding-left:2px;vertical-align:middle;}
.footer8{color:#123456;font-size:12px;}
.footer8 a{text-decoration:none;color:#5f91c4;}
.footer8 a:hover{text-decoration:underline;}
.footer8 img{vertical-align:middle;border:none;padding:0;margin:0;}
.footer9{color:gray;font-size:10px;font-weight:normal;}
.footer9 a{text-decoration:none;white-space:nowrap;color:#5f91c4;}
.footer9 a:hover{text-decoration:underline;}
.adDiv{width:100%;background-color:#f2f2f2;text-align:center;border-top:1px solid #666;border-bottom:1px solid #999;}
.imgNoBorder img{border:0;padding:0;}
.botd_name{color:#999;font-size:18px;}
.botd_name a{text-decoration:none;color:#999;}
.botd_name a:hover{text-decoration:underline;}
.bnr{width:100%;padding:4px;border-bottom:1px solid #e2e2e2;border-top:1px solid #123456;background-color:#f2f2f2;color:#1c6593;font-size:13px;}
.bnr a{font-size:14px;text-decoration:none;color:#5f91c4;}
.bnr a:hover{text-decoration:underline;}
.bnr1{width:100%;padding:4px;border:1px solid #3377a1;border-bottom: 2px solid #3377a1;background-color:#55a4d5;color:#1c6593;font-size:13px;}
.bnr1 a{font-size:14px;text-decoration:none;color:#fff;}
.bnr1 a:hover{color:#fff;text-decoration:underline;}
.footer_real{background-color:#1C6593;padding-bottom:4px;height:40px;vertical-align:middle;color:lightGray;}
.footer_links{float:right;font-size:12px;margin-top:4px;}
.footer_real a{color:#fff;font-size:12px;text-decoration:none}
.footer_real a:hover{text-decoration:underline}

#fullheight{height:100%;}
.bold{font-weight:bold;}
.italics{font-style:italic;}
.underline{text-decoration:underline;}
.strikethrough{text-decoration:line-through;}
.overline{text-decoration:overline;}
.quotecodeheader{font-family:Verdana,arial,helvetica,sans-serif;font-size:14px;font-weight:bold;}
.codebody{background-color:#fff;font-family:Courier new,courier,mono;font-size:14px;color:#060;border:1px solid #bfbfbf;}
.quotebody{background-color:#fff;font-family:Courier new,courier,mono;font-size:14px;color:#660002;border:1px solid #bfbfbf;}
.listbullet{list-style-type:disc;list-style-position:inside;}
.listdecimal{list-style-type:decimal;list-style-position:inside;}
.listlowerroman{list-style-type:lower-roman;list-style-position:inside;}
.listupperroman{list-style-type:upper-roman;list-style-position:inside;}
.listloweralpha{list-style-type:lower-alpha;list-style-position:inside;}
.listupperalpha{list-style-type:upper-alpha;list-style-position:inside;}
.pickAShow a{font-size:12px;color:#fff;padding:3px;padding-left:8px;height:25px;padding-right:8px;text-decoration:none;background-color:#226fb2;}
.pickAShow a:hover{background-color:#ff8335;}
.pickAShow{padding-bottom:6px;padding-left:4px;font-size:12px;color:#ff8335;width:120px;padding-top:2px;}
.loading{background-color:#226fb2;font-size:12px;color:#fff;padding:3px;padding-left:8px;padding-right:8px;text-decoration:none;}
.referlinks a{color:#123456;text-decoration:none;}
.referlinks a:hover{color:#ff8335;text-decoration:underline;}
.referlinks img{border:1px solid #ccc;}
.exp{width:500px;padding:10px;border:1px solid #ccc;font-size:14px;background-color:#ededed;}
.ntext a{text-decoration:underline;}
.enda a{color:#123456;}
.demoLink a{text-decoration:none;background-color:#cee1fa;padding:10px;border:1px solid #7ebfe9;color:#123456;}
.demoLink a:hover{text-decoration:underline;color:#7ebfe9;}
.demoLink2 a{text-decoration:none;background-color:#bebebe;padding:10px;border:1px solid #666;color:#000;}
.demoLink2 a:hover{text-decoration:underline;}
.regad a{text-decoration:none;background-color:#cee1fa;padding:10px;border:1px solid #7ebfe9;color:#123456;}
.regad a:hover{text-decoration:underline;}
.toprightnumber{background-color:#eee;font-size:12px;}
.highlighteddayboxes{background-color:#eee;font-weight:bold;border-bottom: 2px solid #cccccc;border-right:1px solid #ccc}
.highlighteddayboxes a{font-weight:normal;color: #ff8335; padding-left: 2px;}
.dayboxes{color:#333;}
.dayboxes a {padding-left: 2px;}
.newsdate{color:#ff8335;}
.newsfooter a{color:#ff8335;}
.newsauthor a{color:#ff8335;text-decoration:none;}
.searchlinks a{color:#ff8335;}
.forumlinks a{color:#ff8335;}
.previousBabesDiv{border:1px solid #888f99;width:190px;padding:1px;padding-right:5px;padding-left:5px;}
.previousBabesDiv a{font-size:16px;color:#5f91c4;text-decoration:none;}
.previousBabesDivLoading{border:1px solid #888f99;width:245px;font-size:16px;padding:1px;padding-left:5px;color:#5f91c4;}
.olderdiv a{border:1px solid #123456;padding:3px;font-size:14px;text-decoration:none;color:#fff;background-color:#5f91c4;}
.olderdiv a:hover{border:1px solid #123456;padding:3px;font-size:14px;text-decoration:none;background-color:#f60;}
.olderdiv a:active{color:#000;}
.stufftowatchrow0{background-color:#e2e2e2;}
.stufftowatchrow1{background-color:#fff;}
.bnr2 a{font-size:13px;color:#eee;}
.bnr3 a:hover{text-decoration:none;background-color:#fff;color:#123456;}
.current,.inactive{text-decoration:none;color:#000;font-size:14px;}
.paginate{color:#f60;font-size:14px;background-color:#ffffff;}
.paginatetable{color:#123456;}
.paginatetable .row{background-color:#efefef;}
.paginatetable td{border-bottom:10px solid #fff;}
.paginatetable th{font-size:14px;font-weight:normal;}
.paginatetable th a{color:#5f91c4;}
.legal{border:2px solid #1b6390;width:955px;text-align:center;font-size:12px;color:#fff;background-color:#1c6593;}
.legal a{text-decoration:none;color:#fff;}
.legal a:hover{color:#ccc;text-decoration:underline;}
#twitter_div a{color:#ff8335;font-size:12px;}
#twitter_div{font-size:12px;width:450px;}
#twitter_update_list{padding-left:15px;}
#twitter_update_list li{padding-bottom:5px;}
#searchsuggestions{display:none;position:absolute;z-index:4;background-color:#fff;border:1px solid #1c6593;line-height:20px;}
#searchsuggestions a{display:block;color:#000;text-decoration:none;white-space:nowrap;overflow:hidden;padding:0 2px;font-size:13px;}
#searchsuggestions a.hovered{color:#fff;background-color:#1c6593;}
.clearbody{ background:#ffffff url() repeat-y scroll center;}
#username, #searchform { margin-left: -4px;}
iframe[id^="oauth2relay"]{display:none;}
.close img{opacity:0.2;filter:alpha(opacity=20);}
.close img:hover{opacity:1;filter:alpha(opacity=100);}
.newsheadlinerow{border-bottom: 1px solid #E6E4E4;padding-bottom:3px;}
.homeitem{float:left;padding:5px;width:227px;overflow:hidden;height:78px;margin-bottom:5px;}
.summary{font-size:13px;}
#searchf {outline: 0;border:0;margin-top:0px;padding:5px; border-radius: 3px;margin-left:1px;}
#header { background-color:#fff; }
.orangebutton a { background-color: #FF8335;border-radius: 3px;margin-right:5px;color:white;padding:5px;padding-left:8px;padding-right:8px;font-size:12px;text-decoration:none;display:inline-block;}
.orangebutton a:hover {background-color:#DC5500;}
.link1 {
	background-color: #FF8335;
	#border: 1px solid #858585;
	border-radius: 3px;
	margin-right:5px;
	color:white;
	padding:5px;
	padding-left:6px;
	padding-right:6px;
	font-size:12px;
	text-decoration:none;
	display:inline-block;
}
.link1:hover {
	background-color:#DC5500;
}
.link2 {
	background-color: #129000;
	#border: 1px solid #1A9303;
	border-radius: 3px;
	margin-right:5px;
	color:white;
	padding:5px;
	padding-left:6px;
	padding-right:6px;
	font-size:12px;
	text-decoration:none;
	display:inline-block;
	margin-top:1px;
}
.link2:hover {
	background-color:#016701;
}
.link3 {
	background-color: white;
	#border: 1px solid #666666;
	border-radius: 2px;
	margin-right:5px;
	color:#5F91C4;
	padding:5px;
	padding-left:6px;
	padding-right:6px;
	font-size:12px;
	text-decoration:none;
	display:inline-block;
	margin-bottom:2px;
	margin-left:5px;
}
.link3:hover {
	color:#123456;
}
.loginForm {

	position:absolute;
	top:39px;
	background-color:white;
	border: 1px solid #1C6593;
	text-align:center;
	margin-left:9px;
	font-size: 14px;
	text-align:right;
	border-radius: 3px;
	padding:10px;
	z-index:100;
}
.loginForm .link2 {
	width:308px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
}
.loginForm input {
	width:230px;
	font-size:16px;
	border:0px;
	padding:5px;
	border-radius: 3px;
	border:1px solid #efefef;
}
.loginfooterlinks a {
	text-decoration:none;
}
.loginfooterlinks a:hover {
	text-decoration:underline;
}
#signupForm {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#darkShield {
	background-color:black;
	width:100%;
	height:100%;
	z-index:101;
	display:block;
	position:fixed;
	opacity:.55;
}
#signupFormForm {
	top:50%;
	margin-top:-202px;
	width:280px;
 	background-color:white;
	border-radius:5px;
	z-index:102;
	left:50%;
	margin-left:-140px;
	position:fixed;
	display:block;
	padding:10px;
	text-align:center;
	padding-top:20px;
	padding-bottom:30px;
}
#signupFormForm .headlinee {
	color:#FF8335;
	font-size:16px;
	display:block;
	margin-bottom:10px;
}
#signupFormForm input {
	width:220px;
	font-size:16px;
	padding:5px;
	border: 1px solid #ccc;
	border-radius:3px;
	margin-bottom:10px;
}
#signupFormForm #buttonlink a {
	background-color: #FF8335;
	border-radius: 5px;
	color:white;
	padding:5px;
	font-size:14px;
	text-decoration:none;
	display:inline-block;
	width:220px;
	height:30px;
	text-align:center;
	vertical-align:middle;
	margin-top:10px;
	line-height:28px;
}
#signupFormForm #buttonlink a:hover {
	background-color:#DC5500;
}
#signupFormForm #erorr_txt {
	color:red;
	margin-bottom:15px;
	font-size:14px;
	text-align:center;
}
#signupFormForm #whyRegisterLink a {
	color:#ccc;
	text-decoration:none;
	font-size:12px;
}
#signupFormForm #whyRegisterLink a:hover {
	color:black;
	text-decoration:none;
}
#signupFormForm li:before {
	content: "•";
	font-size:14px;
	margin-right:5px;
	color: #FF8335; /* or whatever color you prefer */
}
#signupFormForm ul {
	list-style: none;
	padding-left:10px;
	padding-right:5px;
	margin-right:5px;
}
.fb_button_reg {
	display:inline-block;
}
.g_button_reg {
	display:inline-block;
	margin-left:10px;
}
.fb_button_reg  a {
	background-color: #3B5998;
	border-radius: 5px;
	color:white;
	padding:5px;
	font-size:14px;
	text-decoration:none;
	display:inline-block;
	width:100px;
	height:25px;
	text-align:center;
	vertical-align:middle;
	line-height:23px;
	margin-top:-4px;
	background-image: url("//next-episode.net/img/fb_footer.png");
	background-position: 15px 9px;
	background-repeat: no-repeat;
}
.fb_button_reg  a:hover {
	background-color:#213662;
}

.fb_button_reg2  a {
	background-color: #3B5998;
	border-radius: 3px;
	color:white;
	padding:3px;
	font-size:14px;
	text-decoration:none;
	display:inline-block;
	width:150px;
	height:20px;
	text-align:center;
	vertical-align:middle;
	line-height:19px;
	background-image: url("//next-episode.net/img/fb_footer.png");
	background-position: 36px 5px;
	background-repeat: no-repeat;

}
.fb_button_reg2  a:hover {
	background-color:#213662;
}

.g_button_reg2 {
	margin-left:8px;
}

.g_button_reg2  a {
	background-color: #DD4B39;
	border-radius: 3px;
	color:white;
	padding:3px;
	font-size:14px;
	text-decoration:none;
	display:inline-block;
	width:150px;
	height:20px;
	text-align:center;
	vertical-align:middle;
	line-height:19px;
	background-image: url("//next-episode.net/img/google_logo.png");
	background-position: 40px 5px;
	background-repeat: no-repeat;
}
.g_button_reg2  a:hover {
	background-color:#B32D1C;
}

.g_button_reg  a {
	background-color: #DD4B39;
	border-radius: 5px;
	color:white;
	padding:5px;
	font-size:14px;
	text-decoration:none;
	display:inline-block;
	width:100px;
	height:25px;
	text-align:center;
	vertical-align:middle;
	line-height:23px;
	margin-top:-4px;
	background-image: url("//next-episode.net/img/google_logo.png");
	background-position: 16px 9px;
	background-repeat: no-repeat;
}
.g_button_reg  a:hover {
	background-color:#B32D1C;
}
.bordered_header {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #ccc;
   line-height: 0.2em;
   margin: 10px 0 20px;
}

.bordered_header span {
    background:#fff;
}
#paginationDiv {
	font-size:14px;
	text-align:center;
}
#paginationDiv a {
	color:#FF8335;
	text-decoration:none;
}
#paginationDiv a .current {
	color:#000;
	text-decoration:none;
}

#paginationDiv a:hover {
	text-decoration:underline;
}

/* Tooltip container */
.eventdata {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.eventdata .eventdatatext {
    visibility: hidden;
    width: 120px;
    background-color: #034BF1;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.eventdata:hover .eventdatatext {
    visibility: visible;
}